<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加客户</title>
    <link rel="stylesheet" href="/layui/css/layui.css" charset="UTF-8" media="all">
</head>
<style type="text/css">
    #sp1{
        float: left;
        margin-top: 0px;
    }
    #sp2{
        float: right;
        margin-top: 0px;
    }
    body{
        background-color: rgba(12, 103, 136, 0.93);
    }
    #u483_text {
        border-width: 0px;
        position: absolute;
        top: 77px;
        /* width: 1008px; */
        word-wrap: break-word;
    }
    #u488_text {
        border-width: 0px;
        position: absolute;
        top: 906px;
        /* width: 1008px; */
        word-wrap: break-word;
    }


    p {
        margin: 0px;
        text-rendering: optimizeLegibility;
        font-feature-settings: "kern" 1;
        -webkit-font-feature-settings: "kern";
        -moz-font-feature-settings: "kern";
        -moz-font-feature-settings: "kern=1";
        font-kerning: normal;
    }

    #u482_text {
        border-width: 0px;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 81px;
        white-space: nowrap;
    }
    #u482 {
        border-width: 0px;
        position: absolute;
        left: 40px;
        top: 24px;
        width: 81px;
        height: 27px;
        font-family: '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }


</style>
<body>
<center>
    <div style="background: rgba(255, 255, 255, 1);width: 1100px;height: 1283px">
        <div class="layui-form-item">
                <div id="u482" class="ax_default _一级标题">
                    <div id="u482_div" class=""></div>
                    <div id="u482_text" class="text ">
                        <p>
                          <span style="margin-left: 215px;">[[${seleid.customerName}]]-BPM双语版 <font color="#999999">#商机讨论板</font>


<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left: 356px;width: 67px;">
<a href="/customer/custmergl.html"><font style="color: #666666">返回</font></a>
  </button>
<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="width: 67px;">
   刷新
</button>
                          </span>
                        </p>
                    </div>
                </div>
       <br><br>
            <br><br>

            <div style="background-color:rgba(255, 255, 224, 1);width: 1000px;border-width: 1px;height: 40px;border-style: solid;border-width: 1px;border-color: rgba(221, 221, 221, 1);">
                <div id="u483_text" class="text ">
                    <p><span>基本信息</span></p>
                </div>
            </div>


        <br/>
            <form class="layui-form" action="/management/tb-customer/zzupdata.do" method="get">
                <input type="hidden" name="cid" th:value="${seleid.cid}" id="cid">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><p><span style="color:#FF0000;">*</span><span>客户名称</span></p></label>
                <div class="layui-input-block">
                    <input type="text" name="customerName" th:value="${seleid.customerName}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">拼音</label>
                <div class="layui-input-block">
                    <input type="text" name="pinyin" th:value="${seleid.pinyin}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                </div>
            </div>
        </div>
       <!-- 对当前添加客户的进行分类-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">分类</label>
                        <div class="layui-input-inline" style="width:390px">
                            <select name="classification" th:field="${seleid.classification}">
                                <option value="">请选择</option>
                                <option th:id="${seleid.classification eq '客户分类一'}" th:selected="selected" value="客户分类一">客户分类一</option>
                                <option  th:id="${seleid.classification eq '客户分类二'}" th:selected="selected" value="客户分类二">客户分类二</option>
                                <option  th:id="${seleid.classification eq '客户分类三'}" th:selected="selected" value="客户分类三">客户分类三</option>

                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">客户来源</label>
                        <div class="layui-input-inline" style="width:390px">
                            <select name="customerSource"  th:field="${seleid.customerSource}">
                                <option value="">请选择</option>
                                <option th:id="${seleid.customerSource eq '老客户'}" th:selected="selected" value="老客户">代理商</option>
                                <option th:id="${seleid.customerSource eq '互联网'}" th:selected="selected"  value="互联网">互联网</option>
                                <option th:id="${seleid.customerSource eq '独立开发'}" th:selected="selected"  value="独立开发">独立开发</option>
                                <option th:id="${seleid.customerSource eq '客户介绍'}" th:selected="selected"  value="客户介绍">客户介绍</option>
                                <option th:id="${seleid.customerSource eq '合作伙伴'}" th:selected="selected"  value="合作伙伴">合作伙伴</option>
                                <option th:id="${seleid.customerSource eq '促销开发'}" th:selected="selected"  value="促销开发">促销开发</option>
                                <option th:id="${seleid.customerSource eq '媒体宣传'}" th:selected="selected"  value="媒体宣传">媒体宣传</option>
                                <option th:id="${seleid.customerSource eq '电话访问'}" th:selected="selected"  value="电话访问">电话访问</option>
                                <option th:id="${seleid.customerSource eq '二次销售'}" th:selected="selected"  value="二次销售">二次销售</option>
                                <option th:id="${seleid.customerSource eq '公开招标'}" th:selected="selected"  value="公开招标">公开招标</option>
                                <option th:id="${seleid.customerSource eq '研讨会和展会'}" th:selected="selected"  value="研讨会和展会">研讨会和展会</option>
                                <option th:id="${seleid.customerSource eq '其他'}" th:selected="selected"  value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">所属行业</label>
                    <div class="layui-input-inline" style="width:390px">
                        <select name="industry"   th:field="${seleid.industry}">
                            <option value="">请选者</option>
                            <option th:id="${seleid.industry eq 'IT|互联网|通讯|电子'}" th:selected="selected" value="IT|互联网|通讯|电子">IT|互联网|通讯|电子</option>
                            <option  th:id="${seleid.industry eq '金融|银行|保险'}" th:selected="selected" value="金融|银行|保险">金融|银行|保险</option>
                            <option  th:id="${seleid.industry eq '房产|建筑|建设|物业'}" th:selected="selected" value="房产|建筑|建设|物业">房产|建筑|建设|物业</option>
                            <option  th:id="${seleid.industry eq '广告|传媒|印刷出版'}" th:selected="selected" value="广告|传媒|印刷出版">广告|传媒|印刷出版</option>
                            <option  th:id="${seleid.industry eq '消费零售|贸易|交通物流'}" th:selected="selected" value="消费零售|贸易|交通物流">消费零售|贸易|交通物流</option>
                            <option  th:id="${seleid.industry eq '加工制造|仪表设备'}" th:selected="selected" value="加工制造|仪表设备">加工制造|仪表设备</option>
                            <option  th:id="${seleid.industry eq '管理咨询|教育科研|中介服务'}" th:selected="selected" value="管理咨询|教育科研|中介服务">管理咨询|教育科研|中介服务</option>
                            <option  th:id="${seleid.industry eq '医药生物|医疗保健'}" th:selected="selected" value="医药生物|医疗保健">医药生物|医疗保健</option>
                            <option  th:id="${seleid.industry eq '酒店旅游'}" th:selected="selected" value="酒店旅游">酒店旅游</option>
                            <option  th:id="${seleid.industry eq '能源矿产|石油化工'}" th:selected="selected" value="能源矿产|石油化工">能源矿产|石油化工</option>
                            <option  th:id="${seleid.industry eq '政府|非赢利机构|科研'}" th:selected="selected" value="政府|非赢利机构|科研">政府|非赢利机构|科研</option>
                            <option  th:id="${seleid.industry eq '其他'}" th:selected="selected" value="其他">其他</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">客户网址</label>
                    <div class="layui-input-block">
                        <input type="text" name="customerWebsite" th:value="${seleid.customerWebsite}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">国家/地区</label>
                    <div class="layui-input-block">
                        <input type="text" name="countryAddress" th:value="${seleid.countryAddress}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">所在城市</label>
                    <div class="layui-input-block">
                        <input type="text" name="city" th:value="${seleid.city}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">详细地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" th:value="${seleid.address}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:910px">
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">邮政编码</label>
                    <div class="layui-input-block">
                        <input type="text" name="postalcode" th:value="${seleid.postalcode}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">传真</label>
                    <div class="layui-input-block">
                        <input type="text" name="fax" th:value="${seleid.fax}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
   <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label"><p><span style="color:#FF0000;">*</span><span>联系人</span></p></label>
                    <div class="layui-input-block">
                        <input type="text" name="contacts" th:value="${seleid.contacts}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">部门</label>
                    <div class="layui-input-block">
                        <input type="text" name="department" th:value="${seleid.department}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">职务</label>
                    <div class="layui-input-block">
                        <input type="text" name="job" th:value="${seleid.job}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">办工电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="officePhone" th:value="${seleid.officePhone}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">移动电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="telephone" th:value="${seleid.telephone}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">邮件/QQ</label>
                    <div class="layui-input-block">
                        <input type="text" name="emailQq" th:value="${seleid.emailQq}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
   <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">法人代表</label>
                    <div class="layui-input-block">
                        <input type="text" name="legalPerson" th:value="${seleid.legalPerson}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">注册资本</label>
                    <div class="layui-input-block">
                        <input type="text" name="capital" th:value="${seleid.capital}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <br><br>

                <div class="layui-inline">
                    <label class="layui-form-label">附加说明</label>
                    <div class="layui-input-block">
                        <input type="text" name="notes" th:value="${seleid.notes}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:910px;height:150px">
                    </div>
                </div>
                <br><br>
                <div style="background-color:rgba(255, 255, 224, 1);width: 1000px;border-width: 1px;height: 40px;border-style: solid;border-width: 1px;border-color: rgba(221, 221, 221, 1);">
                    <div id="u488_text" class="text ">
                        <p><span>财务信息</span></p>
                    </div>
                </div>
                <br></br>
                <div class="layui-inline">
                    <label class="layui-form-label">银行账户</label>
                    <div class="layui-input-block">
                        <input type="text" name="bankcard" th:value="${seleid.bankcard}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开户名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="accountName" th:value="${seleid.accountName}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">开户银行</label>
                    <div class="layui-input-block">
                        <input type="text" name="deposit" th:value="${seleid.deposit}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">银行地址</label>
                    <div class="layui-input-block">
                        <input type="text" name=bankAddress"" th:value="${seleid.bankAddress}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>
                <br><br>
                <div class="layui-inline">
                    <label class="layui-form-label">税号</label>
                    <div class="layui-input-block">
                        <input type="text" name="dutyParagraph" th:value="${seleid.dutyParagraph}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                    </div>
                </div>    <div class="layui-inline">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-block">
                    <input type="text" name="bankPhone" th:value="${seleid.bankPhone}" placeholder="请输入" autocomplete="off" class="layui-input"style="width:390px">
                </div>
            </div>
           <br><br><br>
                <button type="submit" class="layui-btn layui-btn-radius layui-btn-normal" style="width: 90px">修改</button>
                <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" style="width: 90px" onclick="sc()">删除</button>
                <button type="button" class="layui-btn layui-btn-radius layui-btn-primary" style="width: 90px">取消</button>
                <br><br>
                <br><br>
                <br>
            </form>
    </div>
    </div>
</center>
<!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->

<script src="/layui/layui.js" charset="UTF-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
       var laydate = layui.laydate;
       var layer = layui.layer
        //常规用法
        laydate.render({
            elem: '#test1'
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //常规用法
        laydate.render({
            elem: '#test2'
        });
    });


    var sc=function () {
        location.href='/management/tb-customer/delta.do?cid='+[[${seleid.cid}]]
    }

</script>
</body>
</html>