<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayu.management.mapper.TbIncomeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huayu.management.entity.TbIncome">
        <id column="revenueid" property="revenueid" />
        <result column="revenuedate" property="revenuedate" />
        <result column="classification" property="classification" />
        <result column="incomeamount" property="incomeamount" />
        <result column="capitalize" property="capitalize" />
        <result column="paymentmethod" property="paymentmethod" />
        <result column="registrant" property="registrant" />
        <result column="relapersonnel" property="relapersonnel" />
        <result column="reladepartments" property="reladepartments" />
        <result column="oppositeunit" property="oppositeunit" />
        <result column="acsdgual" property="acsdgual" />
        <result column="statement" property="statement" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        revenueid, revenuedate, classification, incomeamount, capitalize, paymentmethod, registrant, relapersonnel, reladepartments, oppositeunit, acsdgual, statement
    </sql>

</mapper>
